*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Quicksand';
}

html, body {
    width:100%;
    margin-left:0px;
    margin-top:0px;
}

.top {
    position: absolute;
    top:0%;
    display:flex;
    width:100%;
    padding-top:20px;
    justify-content: center;
    background-image: linear-gradient(rgba(194, 255, 251, 1), rgba(231, 251, 255, 1),rgba(231, 251, 255, 0));
}

body {
    background-image: url("../Images/background.png");
    background-repeat: repeat;
    margin-top:200px;
}

h1 {
    font-size:75px;
}

h2 {
    margin-top:-50px;
}

h3 {
    margin-top:-15px;
    font-size:20px;
}

b {
    font-size:30px;
}

.mainBody {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin:100px;
    margin-top:0px;
    flex-wrap:wrap;
}

.leftBox {
    display:flex;
    justify-content:left;
    flex-direction:column;
    width:500px;
    margin-top:-25px;
}

.rightBox {
    display:flex;
    justify-content:right;
    flex-direction:column;
    width:400px;
    height:400px;

    overflow: auto;
    white-space: nowrap;

    background-color:rgba(13, 34, 63, 0.267);
    border-style:inset;
    border-radius:5px;
    border-color:rgb(8, 37, 65);
}

#croissant {
    width:256px;
    height:256px;
    animation: Bob 4s ease-in-out infinite;
}

@keyframes Bob {
    0%, 100% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
}

#croissant:hover {
    margin-top:-5px;
    margin-left:-5px;
    width:266px;
    height:266px;
}

.cornerCounter {
    position:absolute;
    text-align:left;
    left:3%;
    bottom:-10%;
}

button {
    position: relative;
    font-size:20px;
    margin:5px;
    padding:10px;
    padding-right:15px;
    padding-bottom:0px;
    
    display:flex;
    flex-direction:column;
    align-items:flex-end;

    background-image: linear-gradient(to right, rgb(173, 208, 219),rgb(146, 191, 204));
    border-radius:15px;
    border-color:rgb(103, 144, 155);
}

button:hover {
    background-image: linear-gradient(to right, rgb(133, 160, 168),rgb(102, 135, 145));
}